* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.col-2 h2 {
  color: white;
  font-size: 100px;
}

.w {
  width: 63%;
}

.s {
  width: 150px;
}

#btnReset {
  margin-top: 30px;
  padding: 10px 15px;
  border: none;
  font-size: 18px;
  font-weight: 700;
}
